.colorNav {
    position: fixed;
    left: 50%;
    margin-left: -250px;
    bottom: -250px;
    width:500px;
    height: 200px;
    border-radius: 15px;
    background-color: #eaebed;
    display: flex;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.16), 0 0 18px 0 rgba(0,0,0,0.5);
    -webkit-transition: bottom .5s ease-in;
    -moz-transition: bottom .5s ease-in;
    -o-transition: bottom .5s ease-in;
    -ms-transition: bottom .5s ease-in;
    transition: bottom .5s ease-in;
}
.colorContainer {

    width: 300px;
    display:block;
    margin-left:50px;
    margin-top: 10px;
}

#colorSwatch {
    width: 80px;
    height: 80px;
    background-color: rgb(128,128,128);
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.slider {
    margin:5px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 15px; 
    outline: none;
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
input[type=range]::-moz-range-track {
    background-color: transparent;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 8px; 
    height: 20px; 
    background: white; 
    border: 1px solid black;
    cursor: pointer; 
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 8px;
    -moz-appearance:none;
    height: 20px; 
    background: white; 
    border: 1px solid black;
    cursor: pointer; 
    border-radius: 5px;
}



#colorRed {
    background-image: linear-gradient(to right, black , #ff0000);
    color:transparent;
}

#colorGreen {
    background-image: linear-gradient(to right, black , #00ff00);
}

#colorBlue {
    background-image: linear-gradient(to right, black , #0000ff);

}
